@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,600;1,700;1,800&display=swap');
.image-logo{
    height: 50px;
}
.navbar {
    background-color: #fff!important;
    z-index: 5555;
}
.navbar .nav-link {
    color: #eee;
    font-weight: 700;
    margin: 0 6px;
    font-size: 15px;
}
.navbar-brand:hover{
    animation: rotator 3s;
}
#contact-nav:hover{
    transform: scale(1.2);
    box-shadow: 2px 2px 2px #0000001c, -2px -2px 2px #0000001c ;
}
.header{
    height: 350px;
}
.header-animation-container{
    width: 50%;
    height: 100%;
}
.header-words{
    font-size: 50px;
    width: 50%;
    height: 100%;
    font-family: "Montserrat";
}
@keyframes logo-start {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.iyna-animated-logo{
    width: 50%;
    animation: logo-start 5s 1;
    transition: 2s;
}
.iyna-animated-logo:hover,
.iyna-animated-logo:active,
.iyna-animated-logo:focus{
    transform: scale(1.2);
}
.quote-symbol{
    color: rgba(0, 0, 0, 0.473);
}
.quote-saying{
    font-size: 25px;
}
.misandvis{
    background-color: #000 !important;
    border-radius: 50px;
}
.ind{
    font-size: 20px;
    padding: 10px;
    color: white;
}
.col-body{
    font-size: 12px;
}
.team-member{
    width: 22%!important;
    border-radius: 25px;
    transition: 0.5s;
    box-shadow: 2px 2px 15px #0000001c,-2px -2px 15px #0000001c;
}
.team-member:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 15px #00000063,-2px -2px 15px #00000063;
}
.team-member-image{
    border-radius: 50%;
}
.icon-member{
    fill:#00000098!important;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.team-title{
    padding: 10px;
    font-size: 25px;
    background-color: rgb(239,113,151);
    color: white;
    border-radius: 25px;
}
.feature{
    width: 26%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.feature-text{
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
    font-size: 20px;
}
@media only screen and (max-width: 992px){
    .features-container{
        flex-wrap: wrap;
    }
    .feature{
        width: 45%!important;
    }
}
@media only screen and (max-width: 768px){
    .header-container{
        flex-wrap: wrap;
    }
    .header-animation{
        width: 100%;
    }
    .header-words{
        width: 100%;
    }
    .feature{
        width: 90%!important;
    }
}
.icon-arrow{
    fill: white;
    width: 25px;
    height: 25px;
}
.footer-element.info{
    width: 60% !important;
}
.footer-element.contact{
    width: 40% !important;
}
.contact-way{
    width: 21%;
}
.contact-way-container{
    width: 50%;
    margin: 0 auto;
}
.contact-way-icon{
    fill: white;
    width: 60px;
    height: 60px;
}
.footer-link{
    list-style: none;
}
.footer-link a{
    text-decoration: none;
    color: white;
    font-weight: lighter;
    transition: 0.1s;
}
.footer-link a:hover{
    font-weight: bolder;
    color: white;
}